{% extends 'base.html.twig' %}

{% set page_title =
    ('action.create'|trans({}, 'main')|capitalize)
    ~ ' '
    ~ ('action.one_f'|trans({}, 'main'))
    ~ ' '
    ~ ('feature.category'|trans({'%count%': 1}, 'main'))
%}

{% block title %}{{ page_title }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="border-bottom mb-4">{{ page_title }}</h1>

    {{ include('category/_form.html.twig') }}

{% endblock %}
