<form method="post"
      action="{{ path('app_post_delete', {'id': post.id}) }}"
      onsubmit="return confirm('{{ 'action.delete_confirm'|trans({}, 'main') }}');"
      class="d-inline">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">

    <button class="btn btn-danger">
        <i class="bi bi-trash" aria-hidden="true"></i>
        {{ 'action.delete'|trans({}, 'main') }}
    </button>
</form>